div.mainImage {
  width:500px;
  height:200px;
  background-image:url('images/mainimage.jpg');
  margin-left: auto;
  margin-right: auto;
  margin-top:100px;
}

div.santaTracker {
  width:42px;
  height:42px;
  background-image:url('images/santatracker.gif');
  float:left;
}

div.form {
  border:2px solid #66ccff;
  width:550px;
  height:25px;
  margin-top: 30px; margin-left:auto; margin-right:auto;

}

div.buttonContainer {
  padding-top:20px;
  margin-left:auto;
  margin-right:auto;
  width:700px;
  height:30px;
}

div.caption{
  margin-top:50px;
  margin-left:auto;
  margin-right:auto;
  height:45px;
  width:600px;
}
